* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

.flex {
    display: flex;
}

.f-e {
    justify-content: flex-end;
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.fd-r {
    flex-direction: row;
}

.jc-sa {
    justify-content: space-around;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
}

.btn {
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.btn-deets {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 16px 42px;
    border: 1px solid white;
    border-radius: 40px;
}

/* fine header */

/* inzio Main */

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 2, 17);
    padding-top: 100px;
    overflow-y: scroll;
}

.li-deets {
    text-transform: uppercase;
    color: rgb(216, 209, 209);
    text-decoration: none;
    background-color: transparent;
    list-style: none;
    padding: 2px 20px;
    font-size: 10px;
    font-weight: 500;
}

.d-ib {
    display: inline-block;
    margin: 10px 5px;
}

.column {
    flex-direction: column;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: red;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
   width: 80%; 
   padding-top: 10px;
   padding-left: 10px;
}

/* fine Main */

/* footer */

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 110px;
    width: 100%;
    z-index: 3;
}