/* COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

/* inzio Main */

main {
    width: 100%;
    height: calc(100% - 110px);
    background-color: rgb(2, 2, 17);
    position: relative;
}

.column {
    flex-direction: column;
}

/* inizio sidebar */

.sidebar {
    width: 200px;
    height: calc(100% - 100px);
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 300px;
}

/* sidebar top */

.sidebar-top {
    background-color: black;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.logo-container {
    height: 80px;
    position: relative;
}

#logospotify {
    width: 80%; 
    padding-top: 10px;
    padding-left: 10px;
    
}

#logo-mobile {
    
    display: none;
}

/* logohome */

.home {
    display: flex;
    align-items: center;
    height: 22px;
    border-left: 3px solid rgb(53, 247, 53);
    margin-bottom: 3px;
    margin-top: 30px;
}

.home:hover {

}

.logohome {
    width:10%;
    margin-left: 6px;
    margin-right: 5px;
}

.homespan {
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.homespan:hover {
    text-shadow: 1px 1px 1px;
}

/* fine logohome */

/* logosearch */

.search {
    display: flex;
    align-items: center;
    height: 22px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.logosearch {
    width:10%;
    margin: 0 5px;
}

.searchspan {
    font-size: 11px;
    color: white;
}

/* fine logosearch */

/* logolibrary */

.library {
    display: flex;
    align-items: center;
    height: 22px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.logolibrary {
    width:10%;
    margin: 0 5px;
}

.libraryspan {
    font-size: 11px;
    color: white;
}
/* fine logolibrary */

/* playlist e crea */
#playlist {
    color: white;
    font-size: 9px;
    margin-top: 15px;
    margin-left: 9px;
}

.crea {
    color: gray;
    display: flex;
    align-items: center;
    height: 22px;
    margin: 15px 9px;
}

.fa-plus-square {
    font-size: 30px;
    margin-right: 6px;
}

.creaspan {
    font-size: 11px;
}

/* fine playlist e crea */

.creaplaylist {
    overflow-y: auto;
}

.li-playlist {
    color: gray;
    text-decoration: none;
    list-style: none;
    margin: 15px 9px;
    font-size: 10px;
    font-weight: bold;
}

.li-playlist:hover {
    color: white;
}

/* fine sidebar top */

/* sidebar bottom */

.sidebar-bottom {
    height: 60px;
    background-color: black;
}

.contain {
    margin-top: 20px;
}

/* logo install */

.install {
    display: flex;
    align-items: center;
    height: 22px;
    margin-bottom: 3px;
    margin-left: 13px;
}

#logoinstall {
    width:7%;
    margin:0 5px;
}

.installspan {
    font-size: 11px;
    color: white;
}

/* fine logo install */

/* logo John Doe */

.doe-container {
    width: 80%;
    height: 22px;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 8px;
}

.logoDoe {
    width:10%;
    background-color: gray;
    padding: 2px;
    border-radius: 50%;
    margin-right: 5px;
}

.Doespan {
    font-size: 11px;
    color: white;
}

/* fine logo John Doe */

/* fine sidebar bottom */

/* fine sidebar */

/* main container */

.main-container {
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(23, 18, 39);
    overflow-y: scroll;
    position: absolute;
    right: 0;
}

/* call to action */

.cta {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-deets {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 16px 42px;
    border: 1px solid white;
    border-radius: 40px;
}

/* fine call to action */

/* content */

.content {
    text-align: center;
}

.content ul li {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #94dd25;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.li-deets {
    text-transform: uppercase;
    color: rgb(216, 209, 209);
    text-decoration: none;
    background-color: transparent;
    list-style: none;
    padding: 2px 20px;
    font-size: 10px;
    font-weight: 500;
}

.li-deets:hover {
    color: white;
    text-shadow: 1px 1px 1px;
}

.d-ib {
    display: inline-block;
    margin: 10px 5px;
}

/* fine content */


/* sezione immagini */

#rec-play {
    margin: 20px 20px;
    color: white;
}

#rec-play span {
    color: gray;
    font-size: 12px;
}

.row {
    display: flex;
    margin-left: 20px;
    margin-bottom: 70px;
}

/* card */

.card {
    width: calc(100% / 6);
    margin-right: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.card-image {
    position: relative;
}

.image {
    width: 100%;
}

.card h3 {
    color: white;
}

.card .subtitle {
    color: gray;
    font-size: 10px;
}

.card-image.border-radius {
    border-radius: 50%;
    overflow: hidden;
}

/* overlay */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.card-image:hover .overlay{
    display: flex;
    cursor: pointer;
}

.fa-play-circle {
    color: white;
    font-size: 30px;
}

/* fine overlay */

/* fine card */

/* fine sezione immagini */

/* fine main container */

/* fine Main */

/* footer */

footer {
    background-color: rgb(37, 36, 36);
    height: 110px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .cover img {
    width: 50px;
    margin-left: 10px;
}

.title {
    margin: 0 50px 0 10px;
}

.album .title h4 a, .album .icon a {
    color: white;
}

.album .title span a {
    color: gray;
    font-size: 10px;
}

.icon a {
    margin: 0 5px;
}

/* .control-panel */

.control-panel {
    width: 50%;
}

.control-panel ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.album, .control-panel ul li {
    list-style: none;
    margin: 0 15px;
}

.control-panel ul li a {
    color: white;
}

.control-panel ul li a:hover {
    text-shadow: 1px 1px 0;
}

/* controller */

.controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-time span, .total-time span {
    color: white;
}

.control-barr {
    background-color: gray;
    height: 5px;
    width: 60%;
    border-radius: 20px;
    position: relative;
}

.contr-bar {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 75%;
    border-radius: 20px
}

.control-barr:hover .contr-bar {
    background-color: yellowgreen;
}

.pallino {
    background-color: white;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -100%;
    right: 75%;
    display: none;
}

.control-barr:hover .pallino {
    display: block;
}

/* fine controller */

/* fine control-panel */


/* audio */

.audio {
    display: flex;
    align-items: center;
}

.album, .audio {
    width: 250px;
}

.album, .audio ul {
    display: flex;
    align-items: center;
}

.audio ul li {
    list-style: none;
    
}

.audio li a {
    color: white;
    margin: 0 7px;
}

.audio li a:hover {
    text-shadow: 1px 1px 1px;
}

/* responsive */

@media screen and (max-width: 400px){

    /* .row {
        display: flex;
        flex-wrap: wrap;
    } */

    .card {
        width: calc(100% / 2);
    }

    .sidebar {
        width: 40px;
    }

    .main-container {
        width: calc(100% - 40px)
    }

    #logospotify, #playlist, .crea, .creaplaylist {
        display: none;
    }

    #logo-mobile {
        display: block;
        width: 30px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .span-none {
        display: none;
    }

    .logo-size {
        width: 20px;
    }

    .home {
        margin-top: 15px;
    }
}

@media screen and (max-width: 660px) {

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 15px);
    }
    
}
