* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
}

.flex {
    display: flex;
}

.f-e {
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.upper {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 16px 42px;
    border: 1px solid white;
    border-radius: 40px;
}

/* fine header */

/* inzio Main */

main {
    width: 100%;
    height: 1200px;
    background-color: rgb(2, 2, 17);
    overflow-y: scroll;
}

.column {
    flex-direction: column;
}

.sidebar {
    width: 200px;
    height: 1200px;
    background-color: red;
    z-index: 2;
    position: fixed;
}

#logo {
   width: 80%; 
}

/* fine Main */

/* footer */

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 110px;
    width: 100%;
    z-index: 3;
}